//цвет иконок при наведении
$color-active-icon: #F16D7F;

///////////////////////
//основные цвета фона
///////////////////////

//цвет подзаголовков страниц
$bg-main-color: #F1E4E6;
$bg-product-box: #F7F7F7;
$color-main: #F16D7F;
$color-main-strong: #EF5B70;
$product-box-header: #F16D7F;

//скорость трансформации цвета
$transition-speed: 0.4s;
$transition-speed-slow: 1s;


//сдвиг подробностей для слайдера
$shift: 50px;

//страница Cart
$color-cart-border: #A4A4A4;